# Default ignored files
/../../../../:repos/GoLex/.idea/shelf/
/../../../../:repos/GoLex/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:repos/GoLex/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../:repos/GoLex/.idea/dataSources/
/../../../../:repos/GoLex/.idea/dataSources.local.xml
